<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>글 작성페이지</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/public/stylesheets/style.css">
  <link href="https://fonts.googleapis.com/css2?family=Poor+Story&display=swap" rel="stylesheet">
  
  <style>
    .btn-sm {
      padding: 0.25rem 0.5rem;
      font-size: 0.8rem;
    }
    
    .btn-label {
      margin-right: 0.25rem;
    }
  </style>
</head>
<body class="main-background">
  <span class="main-title">새벽을 달리는 부트캠퍼들</span>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/main">record</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/list">plainlist <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/views/write.html">planner</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
            develop by
          </a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="https://www.insidepixce.com/">insidepixce</a>
            <a class="dropdown-item" href="#">Another action</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/gong">whatidid</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>
  
   
  <div class="container">
    <div class="row">
      <% posts.forEach(function(post) { %>
        <div class="post-container">
          <div class="card">
            <% if (Array.isArray(post.fileLink)) { %>
              <% post.fileLink.forEach(function(link) { %>
                <div class="post-image" style="background-image: url('<%= link %>')"></div>
              <% }); %>
            <% } else { %>
              <div class="post-image" style="background-image: url('<%= post.fileLink %>')"></div>
            <% } %>
            <div class="card-body">
              <p class="card-text"><%= post.content %></p>
              <p class="card-text"><small class="text-muted">Uploaded at: <%= post.currentTime %></small></p>
              <form action="/gong/delete/<%= post._id %>" method="POST" class="delete-form">
                <button type="submit" class="btn btn-danger btn-sm" data-method="DELETE">Delete</button>
              </form>              
            </div>
          </div>
        </div>
      <% }); %>
    </div>
  </div>
  
  <script>
    const deleteForms = document.querySelectorAll('.delete-form');
  
    deleteForms.forEach((form) => {
      form.addEventListener('submit', (event) => {
        event.preventDefault();
        const confirmDelete = confirm('진짜로 삭제하실건가요?');
        if (confirmDelete) {
          const url = form.getAttribute('action');
          fetch(url, {
            method: 'DELETE',
            headers: {
              'Content-Type': 'application/json'
            }
          })
          .then((response) => {
            if (response.ok) {
              form.closest('.post-container').remove();
            } else {
              alert('삭제에 실패하셨습니다.');
            }
          })
          .catch((error) => {
            console.error('Error deleting post:', error);
            alert('삭제에 에러가 발생했습니다.');
          });
        }
      });
    });
  </script>
  
  
</body>

</html>
